html {
  font-size: 20px;
}

@media (max-width: 1000px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  margin: 2%;
  border: 3px solid black;
  border-radius: 25px;
  padding: 2%;
  min-width: 45%;
  max-width: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.list-items {
  list-style-type: none;
  max-width: 100%;
}

.layer {
  text-align: center;
  margin: 2%;
  border: 1px solid blue;
  padding: 3%;
  border-radius: 10px;
  list-style-type: none;
  font-size: 1rem;
}

.architecture > .container > .list-items {
  cursor: move;
  font-weight: 400;
}

.choices {
  cursor: pointer;
}

.invisible {
  display: none;
}

.dragging {
  background-color: rgba(0, 47, 255, 0.468);
  opacity: 60%;
}

.sortable-chosen {
  opacity: 40%;
  background-color: rgb(178, 255, 161);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 605px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}

.popup {
  transition: opacity 1s ease;
  display: none;
  position: sticky;
  /* bottom: 20px;
  right: 20px; */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1vw;
  height: fit-content;
  cursor: default;
  /* max-height: max-content !important; */
}

.popup > * {
  word-wrap: normal;
  margin-top: 1vw;
  /* width: fit-content; */
  max-height: 5rem;
  width: fit-content;
  border-radius: 5px;
  margin: 0.3rem;
}

.del-button {
  width: 1vw;
  height: 1vw;
}

.btn-light {
  background-color: #ffffff;
}

#code-box {
  text-align: left;
  margin: 0;
}

.code-container {
  font-size: 0.8rem;
  text-align: left;
  color: white;
  padding: 2%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(101, 101, 101);
  border-radius: 2vw;
}
